main {
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr;
  margin: 2rem;
}

main h1 {
  font-family: var(--font-title);
  font-size: clamp(36px, 5vw, 48px);
  margin-bottom: 1rem;
}

main .contenido {
  width: fit-content;
  display: flex;
  font-family: var(--font-body);
}

main .container-img {
  width: 250px;
  border-radius: 1rem;
  overflow: hidden;
}

main .info {
  padding: 1rem;
}

main .info ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

main .info ul li {
  width: 64px;
}

main .info .container-descripcion {
  max-width: 430px;
}
