.header {
  background: var(--color-black);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header picture img {
  width: clamp(125px, 12vw, 300px);
  height: auto;
}

.nav {
  color: var(--color-white);
  font-family: var(--font-title);
  font-size: 32px;
}

.header .nav ul {
  display: flex;
  gap: 1rem;
}

.header .nav.responsive {
  display: none;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: var(--color-white);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

@media (max-width: 1299px) {
  .desktop {
    display: none;
  }

  .toggle {
    display: flex;
    z-index: 99999999;
  }

  .header .nav.responsive {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background: var(--color-black);
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  #checkbox:checked ~ .nav.responsive {
    transform: translateX(0);
  }

  .header .nav.responsive ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: absolute;
    inset: 0;
    z-index: 999;
  }

  .header .nav.responsive ul li {
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
  }

  .header .nav.responsive ul li:hover {
    background: linear-gradient(var(--color-green), var(--color-blue));
  }

  .header .nav.responsive ul li a {
    display: block;
    padding: 0.5rem 0;
    font-family: var(--font-title);
    font-weight: bold;
    font-size: 32px;
    background: -webkit-linear-gradient(var(--color-green), var(--color-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
  }

  .header .nav.responsive ul li a:hover {
    background: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
  }
}

/* Inicio Footer */
.container-footer {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-title);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto;
  place-items: center;
  padding: 0.5rem;
}

.container-footer picture {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 150px;
}

.container-footer nav {
  grid-area: 1 / 2 / 2 / 3;
}

.container-footer nav ul {
  display: flex;
  gap: 1rem;
  font-size: 1.125rem;
}

.container-footer span {
  display: block;
  width: 100%;
  text-align: center;
  grid-area: 2 / 1 / 3 / 3;
  font-family: var(--font-body);
}

/* Fin Footer */
